<% @comments.each do |comment| %>
  <div class="well well-small">
    <div class="pull-right"><%= comment.user.nick %></div>
    <%= simple_format comment.content %>                            
    
  </div>
<% end %>
