<% @comments.each do |comment| %>
  <div class="well well-small">
    <% @user = User.find(comment.user_id) %> 
    <div class="pull-right"><%= @user.email %></div>
    <%= simple_format comment.content %>                            
    
  </div>
<% end %>
