<div class="container footer">
  <hr class="alt" />
  <div class="row">
    <div class="span6">&copy; 2013 Buhar Mutfağı. Bütün hakları saklıdır.</div>
    <div class="span6">
      <ul>
        <li><a href="http://www.esigara.us/forum.php">Esigara Forumu</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>
  </div>
</div>
