<div class="span3">
  <div class="nav-headers">
    <h3>Esigara.us forumlarının ev yapımı e-likit veritabanına hosgeldiniz.</h3>
    <p><a href="#" class="btn">Manifesto &rarr;</a></p>
  </div>
  
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#"><i class="icon-picture"></i> En Yeniler</a></li>
    <li><a href="/comments"><i class="icon-ok"></i> Popüler</a></li>
    <li><a href="/likes"><i class="icon-certificate"></i> En Çok Beğenilenler</a></li>
    <li><a href="/views"><i class="icon-bookmark"></i> En çok Görüntülenenler</a></li>
    <li><a href="#"><i class="icon-th-list"></i> Kategoriler</a></li>
    <li><a href="#"><i class="icon-heart"></i> Tavsiyelerimiz</a></li>
  </ul>
</div>  
